/* Remove padding and margin */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    margin:5em;
    font-family: 'Inconsolata',sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 4em;
    font-family: 'Karla',sans-serif;    
    letter-spacing: 0.1em;
}

h2{
    font-size: 2em;
}

@media only screen and (max-width:320px){
    body{
        font-size: 5px;
    }
}

@media only screen and (max-width:480px){
    body{
        font-size: 10px;
    }
}


@media only screen and (max-width:768px) and (min-width:481px){
    body{
        font-size: 15px;
    }
    h1{
        font-size: 3em;
    }
}

@media only screen and (max-width:900px){
}

.container{
    display: flex;
    flex-flow: column wrap;
}


nav ul li{
    list-style-type: none;
    margin: 1em;
}

nav ul li a{
    color:black;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 700;
}

main{
    display: flex;
    flex-flow: row;
    margin-top: 1em;
    height: 100%;
    flex: 0 0 2em;
}

.description{
    max-width: 30%;
    min-width: 30%;
    display: flex;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    line-height: 2em;
    padding: 0.5em;
}


.content{
    max-width: 100%;
    display: flex;
    border: 3px solid black;
    padding: 0.5em;
    flex-wrap: wrap;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
    margin:0.5em;
}

.project{
    display: none;
    min-height: 100%;
    flex-flow: wrap;
}

.card{
    border: 3px solid black;
    margin:0.5em;
    padding: 0.5em;
}

.contact{
    display: none;
    flex-flow: column wrap;
}

.contact .card img{
    width: 2em;
    height: 2em;
}

.contact .card span{
    position: relative;
    bottom: 0.5em;
}

footer{
    position: relative;
    text-align: center;
}